<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Curriculum Vitae (CV) or Resume</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container-fluid">
      <a href="#" class="navbar-brand mr-3">My Name</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
          <a href="#" class="nav-item nav-link active">Anything</a>
        </div>
        <div class="navbar-nav ml-auto">
          <a href="#" class="nav-item nav-link">Something</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="jumbotron">
      <h1>Hey there!</h1>
      <p class="lead">This is a short description about myself. What I do. What I don't do. What I sometimes do. And
        other things.</p>
      <p><a href="https://www.linkedin.com" target="_blank" class="btn btn-info btn-lg">Get in Touch</a>
      </p>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3">
        <h2>A Project</h2>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
          feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
          delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <p><a href="#" class="btn btn-info">Learn More
            &raquo;</a></p>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <h2>Another Project</h2>
        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
          commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
          vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
          praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
        <p><a href="#" class="btn btn-info">Learn More
            &raquo;</a></p>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <h2>A Story</h2>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
          feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
          delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <p><a href="#" class="btn btn-info">Learn
            More &raquo;</a></p>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <h2>Another Story</h2>
        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
          commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
          vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
          praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
        <p><a href="#" class="btn btn-info">Learn
            More &raquo;</a></p>
      </div>
    </div>
    <hr>
    <footer>
      <div class="row">
        <div class="col-md-6">
          <p>QPNlqS &copy; 2021</p>
        </div>
        <div class="col-md-6 text-md-right">
          <span class="text-dark">Get in touch: </span>
          <a href="#"><i class="fa fa-envelope text-dark p-1"></i></a>
          <a href="#"><i class="fa fa-linkedin text-dark p-1"></i></a>
          <a href="#"><i class="fa fa-github text-dark p-1"></i></a>
          <a href="#"><i class="fa fa-twitter text-dark p-1"></i></a>
          <span class="text-muted mx-2">|</span>
          <a href="#" class="text-dark">Another link.</a>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>